/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */

/* Realize as seguintes tarefas:
1 - Faça o tamanho da fonte ser maior;
2 - Faça o tamanho da fonte dos elementos h1 ser menor;
3 - Aumente o espaçamento entre as figuras;
4 - Adicione um pouco de margin na página.
5 - Guarde a largura da tela no ponto que você identificou que o layout atual não funcionou bem (por exemplo 800px) . Esse será o primeiro breakpoint do layout . Um breakpoint é apenas um ponto onde estamos definindo que o design atual deve mudar;
6 - Crie uma media query no seu arquivo CSS , usando a dimensão em pixels que você guardou como o min-width do teste da media query . Dentro desse breakpoint , adicione os seguintes ajustes:
Altere a cor de fundo (isso vai te ajudar a perceber quando a media query teve efeito) ;
Ajuste o tamanho da fonte;
Ajuste as margens da página;
Faça as imagens serem mostradas em duas colunas.
7 - Agora, você vai criar outro breakpoint para telas grandes. Redimensione sua tela de novo para encontrar um novo breakpoint .
8 - Crie uma nova media query no seu arquivo CSS usando a dimensão que você encontrou para telas grandes (por exemplo 1300px) , e realize os seguintes ajustes dentro do breakpoint :
Altere a cor de fundo;
Ajuste o tamanho da fonte;
Ajuste as margens da página;
Adicione a propriedade max-width à página, para garantir que a largura das linhas não fique muito grande. */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /* 1 - Faça o tamanho da fonte ser maior; */
  font: 1.2em/1.2 Helvetica, aria, sans-serif;
  /* 4 - Adicione um pouco de margin na página. */
  margin: 35px 10%;
}

article {
  font-size: 1em;
  text-align: center;
  /* https://www.w3schools.com/css/css_text_spacing.asp */
  line-height: 110%;
}

h1 {
  /* 2 - Faça o tamanho da fonte dos elementos h1 ser menor; */
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 35px 10%;
}

h2 {
  text-align: center;
}

img {
  /* 3 - Aumente o espaçamento entre as figuras; */
  max-width: 100%;
}

main {
  display: block;
}

section {
  display: flex;
  flex-wrap: wrap;
}

figure {
  margin: 15px;
  max-width: 100%;
}

figcaption {
  font-size: 0.8em;
  text-align: center;
}

/* 5 - Guarde a largura da tela no ponto que você identificou que o layout atual não funcionou bem (por exemplo 800px) . Esse será o primeiro breakpoint do layout . Um breakpoint é apenas um ponto onde estamos definindo que o design atual deve mudar; */
/* 6 - Crie uma media query no seu arquivo CSS , usando a dimensão em pixels que você guardou como o min-width do teste da media query . Dentro desse breakpoint , adicione os seguintes ajustes:
Altere a cor de fundo (isso vai te ajudar a perceber quando a media query teve efeito) ;
Ajuste o tamanho da fonte;
Ajuste as margens da página;
Faça as imagens serem mostradas em duas colunas. */

@media screen and (min-width: 800px) {
  body {
    display: block;
    /* Altere a cor de fundo (isso vai te ajudar a perceber quando a media query teve efeito) ; */
    background-color: #998771;
    /* Ajuste o tamanho da fonte; */
    font-size: 1.5em;
    /* Ajuste as margens da página; */
    margin: 10px 8%;
  }
  /* Faça as imagens serem mostradas em duas colunas. */
  section {
    flex-direction: row;
  }

  figure {
    max-width: 45%;
    margin-right: 4.5%;
  }
}
/* 
7 - Agora, você vai criar outro breakpoint para telas grandes. Redimensione sua tela de novo para encontrar um novo breakpoint .
8 - Crie uma nova media query no seu arquivo CSS usando a dimensão que você encontrou para telas grandes (por exemplo 1300px) , e realize os seguintes ajustes dentro do breakpoint :
Altere a cor de fundo;
Ajuste o tamanho da fonte;
Ajuste as margens da página;
Adicione a propriedade max-width à página, para garantir que a largura das linhas não fique muito grande. */
@media screen and (min-width: 1300px) {
  body {
    background-color: black;
    color: #998771;
    font-size: 1.7em;
    margin: 10%;
    max-width: 1200px 50%;
  }
}
