h1, p {
    text-align: center;
}


ol li:hover {
    background-color: green;
}

ol, ul {
    list-style: none;
}

li {
    text-align: center;
}

a {
    text-decoration: none;
    color:black;
}

li:active {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
